<div class="container">
    <nav class="nav-left">
    <ul>
        <li><a href="https://twitter.com/intent/tweet?status={{ .Title }}-{{ .Permalink }}" target="_blank"
               title="Follow me on Twitter" class="st-icon-twitter">Twitter</a></li>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" title="Join me on Facebook"
               class="st-icon-facebook">Facebook</a></li>
        <li><a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" title="Google+" class="st-icon-googleplus">Google+</a></li>
        <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&source=spf13"
               target="_blank" title="LinkedIn" class="st-icon-linkedin">LinkedIn</a></li>
        <li><a href="http://del.icio.us/post?url={{ .Permalink }}" target="_blank" title="Delicious" class="st-icon-delicious">Delicious</a></li>
        <li><a href="http://www.reddit.com/submit?url={{ .Permalink }}" target="_blank" title="Reddit" class="st-icon-reddit">Reddit</a></li>
        <li><a href="http://www.stumbleupon.com/submit?url={{ .Permalink }}" target="_blank" title="StumbleUpon"
               class="st-icon-stumbleupon">StumbleUpon</a></li>
        <li><a href="http://www.dzone.com/links/add.html?url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="DZone"
               class="st-icon-more">DZone</a></li>
    </ul>
    </nav>
</div>
